DEV_MODE=true

DATABASE_NAME=aether_dev
DATABASE_USER=aether
DATABASE_PASSWORD=aether_dev_pass
DATABASE_HOST=127.0.0.1
DATABASE_PORT=15432

AETHER_REDIS_ADDR=127.0.0.1:16379
AETHER_PUBLIC_URL=
AETHER_FREE_DOMAIN_PROVIDER=nip.io
