DEV_MODE=true

DATABASE_NAME=aether_dev
DATABASE_USER=aether
DATABASE_PASSWORD=aether_dev_pass
DATABASE_HOST=127.0.0.1
DATABASE_PORT=1543

AETHER_PUBLIC_URL=
AETHER_FREE_DOMAIN_PROVIDER=nip.io
AETHER_NATS_USER=aether
AETHER_NATS_PASSWORD=replace-with-a-long-random-password
